/META.*
/MYMETA.*
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP.bak
/blib/
/pm_to_blib
/.build/
!.gitignore
*.bs
/xs/*.c
*.o
/cover_db/
*.gc??
/test-mydeps-*
/nytprof*
.*.sw[a-z]
/local-lib-*
/todo.txt
/todo/
/inc/
/t/dist/EUMM/MYMETA.*
/t/dist/EUMM/Makefile
/t/dist/EUMM/blib/
/t/dist/EUMM/pm_to_blib
/t/dist/MB/Build
/t/dist/MB/_build/
/t/dist/MB/blib/
